<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmall.item.mapper.ItemMapper">

    <update id="updateStock">
        UPDATE item SET stock = stock - #{num} WHERE id = #{itemId}
    </update>

    <update id="restoreStock">
        UPDATE item SET stock = stock + #{num} WHERE id = #{itemId}
    </update>

</mapper>
